@import "vars";
@import "fonts";
@import "global";
@import "bootstrap";

@import "header";
@import "nav";
@import "mobile-menu";
@import "card";
@import "btn";

.main {
  grid-area: main;
  padding: 55px 40px 55px 0;
  background-color: #fff;
  border-radius: 15px 0 0 15px;

  @media (max-width: 1000px) {
    padding: 20px 0;
  }

  &__container {
    display: grid;
    grid-template-rows: 1fr;
    max-width: 1007px;
    margin: 0 128px;

    @media (max-width: 1440px) {
      margin: 0 40px;
    }

    @media (max-width: $mobileBreakpoint) {
      margin: 0 20px;
    }
  }

  &__chart {
    height: 542px;
    margin-top: 33px;
    padding: 56px 40px;
    border: 1px solid $c-greyLight;
    border-radius: 18px;
    box-shadow: $containerBoxShadow;

    @media (max-width: $tabletBreakpoint) {
      padding: 35px;
    }

    @media (max-width: $mobileBreakpoint) {
      padding: 25px;
    }
  }
}
